.createTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    input {
        background: var(--gray-500);
        line-height: 1.4;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid var(--gray-700);
        flex: 1;
    }

    button[type="submit"] {
        background: var(--blue-500);
        color: var(--gray-100);
        padding: 1rem;
        border-radius: 8px;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background: var(--blue-300);
        }
    }
}